# （行頭の # マークはコメント行を示す）
# 各項目は、「,」で複数指定できる 10,20 分なら10分と20分
# 各項目は、「-」で範囲指定できる 10-20 分なら10,11,12...20分
# 各項目は、「/」で間隔指定できる */5 分なら5,10,15...60分
# +------------ 分 (0 - 59)
# | +---------- 時 (0 - 23)
# | | +-------- 日 (1 - 31)
# | | | +------ 月 (1 - 12)
# | | | | +---- 曜日 (0 - 6) (日曜日=0)
# | | | | |
# * * * * * 実行されるコマンド

* * * * * cd /var/www/html && php artisan schedule:run >> /var/www/html/storage/logs/schedule.log 2>&1
# アプリのディレクトリに移動
# スケジュール実行 >> 実行結果をstorage/logs/schedule.logに追記 
# コマンドの実行でエラーが発生した場合はstdout(標準出力 ≒ ターミナル)へ出力
